@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-brand: #000000;
  --color-brand-foreground: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-50;
}

h1, h2, h3, h4, h5, h6 {
  @apply tracking-tight font-semibold;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 dark:bg-neutral-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-300 dark:bg-neutral-700;
}